@page "/twowayspinding"

<h1>Two ways data Binding </h1>
<br/>
<ruby>
    <label>Name=@name</label><rt style="color:red;">using C# code</rt>
</ruby>
<input type="text" @bind="name" @oninput="HandleNameChange" />
<br/>
<ruby>
    Name=<rt style="color:red;">using Directives</rt>@Name
</ruby>
<input @bind-value=Name @bind-value:event="oninput" />


@code {
    private string name { get; set; } = "John Doe";

    private string Name { get; set; }

    private void HandleNameChange(ChangeEventArgs e)
    {
        name = e.Value.ToString();
    }
}

