@page "/twowayspinding"

<h1>Two ways data binding </h1>
<input type="text" @bind="name" @oninput="HandleNameChange" />
<br/>
<label>Name = @Name</label>
<input @bind-value=Name @bind-value:event="oninput" />


@code {
    private string name = "John Doe";

    private string Name { get; set; }

    private void HandleNameChange(ChangeEventArgs e)
    {
        name = e.Value.ToString();
    }
}

